/node_modules
/public/storage
/vendor
/.idea
npm-debug.log
yarn-error.log
app/storage/
public/storage
public/hot
storage/*.key
storage/debugbar
storage/app
storage/framework/cache
storage/framework/views
storage/logs
.env
.phpunit.result.cache
bootstrap/cache