//
@import "bootstrap/bootstrap";

@import "mixin";
// parts
@import "parts/reset";
@import "parts/font-size";
@import "parts/heading";
@import "parts/loading";
@import "parts/buttons";
@import "parts/badge";
@import "parts/tabs";
@import "parts/dropdown";
@import "parts/utility";
@import "parts/cropit";
@import "parts/public";

@import "parts/select2";
@import "parts/tagsinput";

@import "parts/top-navbar";
@import "parts/navbar";
@import "parts/menu-category";
@import "parts/auth";
@import "parts/footer";
@import "parts/time-counter-down";
@import "parts/testimonials";

@import "parts/pagination";

// pages
@import "parts/home";
@import "parts/blog";
@import "parts/contact";
@import "parts/webinar";
@import "parts/course";
@import "parts/meeting";
@import "parts/financial";
@import "parts/profile";
@import "parts/cart";
@import "parts/search";
@import "parts/instructor-finder";
@import "parts/product";
@import "parts/forum";
@import "parts/topics";
@import "parts/cookie-security";
@import "parts/mobile-app";

// panel
@import "panel/tables";
@import "panel/webinar";
@import "panel/quiz";

@import "theme-reset";
.kreep {
  animation: kreep 0.9s ease 3s infinite alternate;
}
@keyframes kreep {
  0% {
    -webkit-transform: scale(1.1, 0.9);
    transform: scale(1.1, 0.9);
  }
  50% {
    -webkit-transform: scale(0.9, 1.1) translateY(-0.5rem);
  }
  70% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
