@import "bootstrap/variables";
@import "panel/dashboard";
@import "panel/support";
@import "panel/notifications";
@import "panel/sidebar";
@import "panel/user-settings";
@import "panel/reward";
@import "panel/store";
@import "panel/forum";

body {
    background-color: var(--panel-bg);
}

#panel_app {
    .nav-icons-or-start-live {
        .nav-notify-cart-dropdown {
            display: flex !important;
        }

        .nav-start-a-live-btn {
            display: none !important;
        }
    }
}

.table {
    th{
        font-weight: 500;
    }
}

tbody{
    tr{
        transition: all 0.3s ease;

        &:hover{
            background-color: var(--panel-bg) !important;
            transition: all 0.3s ease;
        }
    }
}


.talk{
  cursor:pointer;
}
