.product-card {
    position: relative;
    border-radius: 15px;
    box-shadow: 0 5px 12px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    border: 1px solid $gray-300;
    transition: all 0.5s ease;

    .image-box {
        position: relative;
        width: 100%;
        height: 185px;
        border-radius: 15px 15px 0 0;

        img {
            border-radius: 15px 15px 0 0;
        }

        .image-box__a {
            &::after {
                content: '';
                position: absolute;
                left: 0;
                right: 0;
                top: 60%;
                bottom: 0;
                background-image: linear-gradient(to bottom, rgba(6, 6, 6, 0), rgba(0, 0, 0, 0.8));
                z-index: 1;
            }
        }

        .badge {
            position: absolute;
            top: 7px;
            left: 7px;
            font-size: 12px;
            font-weight: normal;
            line-height: 1.29;
            color: #ffffff;
            padding: 8px 15px;
            border-radius: 15px 3px 15px 3px;
            pointer-events: none;
        }

        .out-of-stock-badge {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 15px;
            background-image: linear-gradient(to bottom, rgba(6, 6, 6, 0), rgba(0, 0, 0, 0.84));

            span {
                font-size: 14px;
                font-weight: normal;
                line-height: 1.29;
                color: #ffffff;
                padding: 8px 10px;
                border-radius: 18px;
                pointer-events: none;
                background-color: rgba(0, 0, 0, .6);
            }
        }

        .hover-card-action {
            bottom: -20px;
            right: 20px;
            opacity: 0;
            position: absolute;
            transform: translateY(150%);
            transition: all .3s ease;
            z-index: 11;

            .btn-add-product-to-cart {
                width: 40px;
                height: 40px;
                padding: 10px;
                box-shadow: 0 10px 15px 0 rgba(67, 212, 119, 0.3);
                background-color: var(--primary);
                border-radius: 50%;
                color: #ffffff;

                &:hover {
                    background-color: var(--primary-hover);
                }
            }

            .rtl & {
                right: auto;
                left: 20px;
            }
        }
    }

    .product-card-body {
        padding: 20px 10px;

        .product-price-box {
            .real {
                font-size: 20px;
                font-weight: 800;
                line-height: 1.22;
                color: var(--primary);
                pointer-events: none;
            }

            .off {
                font-size: 14px;
                font-weight: normal;
                line-height: 1.29;
                color: $gray;
                text-decoration: line-through;
            }
        }

        .product-title {
            height: 48px;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }

    &:hover {
        transform: translateY(-15px);
        box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1);
        transition: all 0.5s ease;

        .hover-card-action {
            opacity: 1;
            transform: translateZ(0);
        }
    }

    .product-icon {
        color: var(--secondary);
    }
}

.product-show-image-card {
    height: 460px;
    border-radius: 15px;
}

.lazyImageWaiting {
    position: relative;
    overflow: hidden;
    background-color: #DDDBDD;

    &::after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        transform: translateX(-100%);
        background-image: linear-gradient(
                90deg,
                rgba(#fff, 0) 0,
                rgba(#fff, 0.2) 20%,
                rgba(#fff, 0.5) 60%,
                rgba(#fff, 0)
        );
        animation: shimmer 2s infinite;
        content: '';
    }

    @keyframes shimmer {
        100% {
            transform: translateX(100%);
        }
    }
}

.product-show-thumbnail-card {
    .thumbnail-card {
        width: 85px;
        height: 85px;
        border-radius: 10px;
        border: solid 2px $gray-300;
    }

    .product-video-demo-thumb-icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 45px;
        min-width: 45px;
        max-width: 45px;
        height: 45px;
        border-radius: 50%;
        z-index: 10;

        img {
            width: 25px;
            min-width: 25px;
            max-width: 25px;
            height: 25px;
            border-radius: 50%;
        }

        &:after,
        &:before {
            content: '';
            position: absolute;
            height: 100%;
            width: 100%;
            background-color: #000;
            opacity: .4;
            z-index: -1;
            border-radius: 50%;
        }

        &:before {
            animation: mini-pluse 2s ease-out infinite;
        }

        &:after {
            animation: mini-pluse 2s 1s ease-out infinite;
        }
    }
}

.product-video-demo-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75px;
    height: 75px;
    border-radius: 50%;
    z-index: 10;

    img {
        width: 40px;
        min-width: 40px;
        max-width: 40px;
        height: 40px;
        border-radius: 50%;
    }

    &:after,
    &:before {
        content: '';
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: #000;
        opacity: .4;
        z-index: -1;
        border-radius: 50%;
    }

    &:before {
        animation: pluse 2s ease-out infinite;
    }

    &:after {
        animation: pluse 2s 1s ease-out infinite;
    }
}

@keyframes mini-pluse {
    100% {
        transform: scale(1.5);
        opacity: 0;
    }
}

.product-availability-badge {
    padding: 6px;
    border-radius: 18px;
    font-size: 12px;
    font-weight: 500;
    color: #fff;
}

.product-show-price-box {
    .real {
        font-size: 30px;
        font-weight: 800;
        line-height: 1.22;
        color: var(--primary);
        pointer-events: none;
    }

    .off {
        font-size: 14px;
        font-weight: normal;
        line-height: 1.29;
        color: $gray;
        text-decoration: line-through;
    }

    .shipping-price {
        font-size: 14px;
        font-weight: normal;
        line-height: 1.29;
        color: $gray;
    }
}

.product-show-cart-actions {
    .cart-quantity {
        height: 48px;
        border-radius: 10px;
        border: solid 1px $gray-200;
        background-color: $info-light;

        button, input {
            height: 100%;
            background-color: transparent;
            border: 0;
            padding: 0;
            margin: 0;
        }

        button {
            width: 48px;

            &:hover {
                background-color: $gray-200;
            }
        }

        .minus {
            border-radius: 10px 0 0 10px;
        }

        .plus {
            border-radius: 0 10px 10px 0;
        }

        input {
            width: 110px;
            padding: 4px 8px;
            text-align: center;
            border-left: 1px solid $gray-200;
            border-right: 1px solid $gray-200;
        }
    }
}

.product-show-info-footer-items {

    .icon-box {
        width: 40px;
        height: 40px;
        border: solid 1px $gray-200;
        background-color: $info-light;
        color: $gray;
        border-radius: 50%;
        padding: 10px;
    }
}

.selectable-specification-item {
    label {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid $gray-300;
        background-color: $info-light;
        border-radius: 15px;
        margin: 0;

        &:hover {
            background-color: $gray-200;
        }
    }

    input {
        display: none;

        &:checked {
            & ~ label {
                border-color: var(--primary);
                color: var(--primary);
                background-color: $info-light !important;
            }
        }
    }
}

.product-show-specification-item {

    .specification-item-name {
        width: 200px;
        min-width: 200px;
    }
}

.product-show-files-tab {
    .product-file-download-btn {
        width: 40px;
        min-width: 40px;
        height: 40px;
        padding: 8px;
        background-color: var(--primary);
    }
}

.product-show-special-offer {
    .special-offer-card {
        box-shadow: none !important;
        border: 1px solid $gray-200;

        .special-offer-title {
            font-size: 20px !important;
        }
    }
}

.product-online-viewer-modal-body {
    height: calc(100vh - 15rem);
}

.product-show__nav-tabs {
    @media (max-width: $screen-xs-max) {
        flex-wrap: nowrap !important;
        overflow-x: auto;
    }
}
