.rtl {
  .settings-user-profile .input-label {
    font-size: 14px;
    margin-bottom: 5px;
  }
  .custom-dots {
    right: auto;
    transform: translate(-20%, 30%);
  }
  .custom-mark {
    transform: translate(30%, 40%) rotateY(180deg);
  }
  .custom-mark-video {
    right: auto;
    left: 0;
    transform: translate(-80%, 64%) rotate(180deg);
  }
  .custom-dots-video {
    right: 0;
    left: auto;
    transform: translate(30%, -30%);
  }
  .translate-middle {
    flex-direction: row-reverse;
    font-size: 18px;
    right: 0;
    transform: translate(-5%, -50%) !important;
  }
  .course-content-sidebar .btn {
    display: flex;
    flex-direction: row-reverse;
  }
  .footer-bottom-left {
    margin-left: auto;
  }
  .broad-container .custom-highlight {
    right: -12px;
    img {
      transform: rotate(90deg);
    }
  }
  .navbar .nav-item .nav-link {
    font-size: 16px;
  }
  // .navbar .dropdown-menu:after {
  //   right: auto;
  //   left: 15px;
  // }
  .navbar .form-control {
    text-align: right;
    direction: rtl;
  }
  .video-modal .modal-header {
    flex-direction: row-reverse;
  }
  .custom-dots-profile {
    left: 0;
    right: auto;
    transform: translate(-40%, -40%);
  }
  .grow-img {
    transform: translate(10px, 0);
  }
  .broad-card-btn img {
    margin-left: 4px;
    margin-right: auto;
  }

  .ml-2 {
    margin-right: 10px !important;
  }

  .contact-item + .contact-item {
    border-right: 1px solid #fff;
    border-left-width: 0;
  }

  .chat-message-input {
    .chat-send {
      left: 0;
      right: auto;
    }
    .chat-attachment {
      left: 120px;
      right: auto;
    }
  }
  .custom-sm-switch .custom-switch .custom-control-label {
    &:before {
      left: 0;
    }

    &:after {
      left: 3px;
    }
  }
  @media (min-width: 768px) {
    .custom-star {
      left: 0;
      right: auto;
      transform: translate(-120%, -120%);
      &.d-md-block {
        right: 0;
        left: auto;
        transform: translate(120%, -120%);
      }
    }
    .grow-img {
      transform: translate(40px, 0);
    }
    .text-md-left {
      text-align: right !important;
    }
  }

  @media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav {
      flex-direction: row-reverse;
    }
    .text-lg-left {
      text-align: right !important;
    }
    .text-lg-right {
      text-align: left !important;
    }
    .custom-dots {
      transform: translate(-40%, 30%);
    }
    .custom-mark {
      transform: translate(80%, 40%) rotateY(180deg);
    }
    .play-button {
      right: 245px;
      left: auto;
    }
    .custom-mark-video {
      transform: translate(-120%, 44%) rotate(180deg);
    }
    .translate-middle {
      transform: translate(20%, -50%) !important;
    }
    .grow-img {
      transform: translate(80px, 50px);
    }
  }

  @media (min-width: 1200px) {
    .text-xl-left {
      text-align: right !important;
    }
  }
}
